@font-face {
	font-family: 'EtelkaTextPro';
	src: url('../assets/fonts/ProximaNova-Bold.ttf');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'EtelkaTextPro';
	src: url('../assets/fonts/ProximaNova-Regular.ttf');
	font-style: normal;
	font-weight: normal;
}
.title{
  font-family: EtelkaTextPro;
}
